<div class="toolbar" role="banner">
    <strong>GitHub User</strong>
    <div class="spacer"></div>
</div>
<div class="row">
    <div class="col-4">
        <div class="form-group" style="margin-top: 80px;width: 630px;">
            <ng-template #rt1 let-r="result" let-t="term">
                <div class="d-flex justify-content-between">
                    <ngb-highlight [result]="r.login" [term]="t"></ngb-highlight>
                </div>
            </ng-template>
            <input id="typeahead-http" type="text" class="form-control" [ngbTypeahead]="loadUsers"
                placeholder="Search User" [formControl]="myControl" [resultTemplate]="rt1"
                [inputFormatter]="inputFormatterForUser" [focusFirst]="false" />
        </div>
    </div>
    <div class="col-2" style="margin-top: 90px">
        <mat-progress-spinner mode="indeterminate" *ngIf="userSearch" [diameter]="20"></mat-progress-spinner>
    </div>
    <div class="col-2" style="margin-top: 90px">
        <mat-icon (click)="search()">search</mat-icon>
    </div>
    <div class="col-4 form-group" style="margin-top: 70px;float:right;">
        <form>
            <mat-form-field style="float:right">
                <mat-label>Filter by</mat-label>
                <mat-select [(ngModel)]="filterBy" (ngModelChange)="modelValueChange($event)" name="searchedUser">
                    <mat-option *ngFor="let filterBy of filterLists" [value]="filterBy.value">
                        {{filterBy.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
</div>
<div class="row">
    <div class="loading-indicator" *ngIf="spinning">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="col-3">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                </mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{image}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
                <mat-toolbar>{{userName|uppercase}}</mat-toolbar>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-9">
        <mat-card class="example-card">
            <mat-toolbar class="center-alignment">Repositories</mat-toolbar>
            <mat-divider></mat-divider>
            <ul
                *ngFor="let repo of repositories| paginate: { itemsPerPage: 10, currentPage: p, totalItems: totalItem }">
                <li>
                    <a href="{{repo.svn_url}}" target="_blank">{{repo.name}}</a>
                    <br>
                    <p class="text-gray">{{repo.description}}</p>
                    <p *ngIf="repo.archived" class="Counter">archived</p>
                    <p *ngIf="repo.fork" class="Counter">fork</p>
                    <mat-divider></mat-divider>
                </li>
            </ul>
            <div *ngIf="forFilter && repositories && repositories.length==0" class="center-alignment">
                0 results for {{filterBy}} repositories
            </div>
            <div *ngIf="!forFilter && repositories && repositories.length==0" class="center-alignment">
                No Result found
            </div>

            <div class="pagination pagination-lg justify-content-center  pt-5 pb-5"
                *ngIf="repositories && repositories.length>0">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </mat-card>
    </div>
</div>
<!-- <div *ngIf="repositories && repositories.length==0" class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
        <mat-card class="example-card">
            <mat-toolbar class="center-alignment">Repositories</mat-toolbar>
            <mat-divider></mat-divider>
            <div class="center-alignment">
                <strong>
                    No Result Found
                </strong>
            </div>
        </mat-card>
    </div>
    <div class="col-2">

    </div>

</div> -->